/* @link https://utopia.fyi/type/calculator?c=360,16,1.2,1400,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --step--2: clamp(0.6944rem, 0.6856rem + 0.0393vw, 0.72rem);
    --step--1: clamp(0.8333rem, 0.8103rem + 0.1026vw, 0.9rem);
    --step-0: clamp(1rem, 0.9567rem + 0.1923vw, 1.125rem);
    --step-1: clamp(1.2rem, 1.1286rem + 0.3173vw, 1.4063rem);
    --step-2: clamp(1.44rem, 1.33rem + 0.4889vw, 1.7578rem);
    --step-3: clamp(1.728rem, 1.5656rem + 0.7219vw, 2.1973rem);
    --step-4: clamp(2.0736rem, 1.8406rem + 1.0354vw, 2.7466rem);
    --step-5: clamp(2.4883rem, 2.1612rem + 1.4537vw, 3.4332rem);
}

body,
html {
    background-color: #F5F5F5;
    color: #000DC1;
    font-family: "Cutive Mono", monospace;
    font-size: var(--step-0);
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

a {
    color: currentColor;
    text-decoration: underline;
}

picture {
    border-radius: clamp(0.5rem, 0.5rem + 1vw, 1.25rem);
    display: block;
    overflow: hidden;

    img {
        display: block;
        max-width: 100%;
    }
}

header {
    h1 {
        font-size: var(--step-3)
    }

    h2 {
        font-size: var(--step-0)
    }

    span {
        display: inline-block;
    }
}

footer {
    padding: 1rem;
    text-align: center;
}

.main-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 1rem;

    @media (min-width: 768px) {
        gap: 2rem;
        grid-template-columns: repeat(4, 1fr);
        padding: 2rem;
    }

    a {
        display: block;
    }
}

.main-grid > header:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    padding-block: 3rem;

    @media (min-width: 768px) {
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

.main-grid > a:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: -1;
    padding: 2rem 3rem 0 1rem;

    @media (min-width: 768px) {
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 3rem;
    }
}

.main-grid > a:nth-of-type(2) {
    grid-column-start: 1;
    grid-column-end: -1;
    padding: 3rem 2rem 0 6rem;

    @media (min-width: 768px) {
        grid-column-start: 3;
        grid-column-end: -1;
        padding: 10rem 1rem 1rem 0;
    }

    picture {
        max-width: 400px;
    }
}

.main-grid > header:nth-child(1) > h1 > span:nth-child(1) {
    margin-right: 2rem;
}

.main-grid > header:nth-child(1) > h1 > span:nth-child(2) {
    margin-right: 6rem;
}

.main-grid > header:nth-child(1) > h2 > span:nth-child(1) {
    margin-left: -6rem;
    margin-right: 4.5rem;
}

.image-detail {
    display: flex;
    height: calc(100vh - 4rem);
    justify-content: center;
    padding: 2rem;

    picture {
        height: 100%;

        img {
            height: 100%;
            object-fit: contain;
            width: 100%;
        }
    }
}

.image-detail__back {
    padding: 0.25rem 3rem;
    position: fixed;
    top: 0;
}